@import '../../../global/app.scss';

footer {
  width: 100vw;
  height: 75.1vh;
  position: fixed;
  bottom: 0;
  left: 0;

  display: grid;
  align-content: center;

  z-index: -1;
  background-color: #394b4b;
}
