@import '../../../global/app.scss';

footer {
  width: 100%;
  height: 80vh;
  position: fixed;
  bottom: 0;
  left: 0;

  display: grid;
  align-content: center;

  z-index: 0;
  background-color: #394b4b;

  .contact {
    display: grid;
    align-content: center;
    grid-template-columns: 1.5fr 2fr;
    column-gap: 7%;
  }

  ion-item {
    margin: 1.5% 0;
    --color: $main-text-color;
    --background: transparent;
    --highlight-color-focused: #E8BF9E;
    font-size: 1.2rem;

    transition: 0.3s;

    &.item {
      border-radius: 5px;
    }
    
    &.item:hover {
      transition: 0.3s;
      background-color: #FFFFFF15;
    }

    &.item-has-focus > ion-label,
    &.item-has-value > ion-label {
      color: $secondary-text-color !important;
    }

    &.item-has-focus {
      background-color: #FFFFFF10 !important;
    }
  }

  ion-button {
    display: block;
    margin: 5% auto;
    width: 50%;
    font-family: 'Share';
    font-size: 1.3rem;
    --color: $main-text-color;
    --background: #202e48; // #182d55;
    --background-hover: #599292;
    // --transition: 3s;
    --box-shadow: none;

    // &:hover {
    //   background-color: #599292;
    //   transition: 3s;
    // }
  }
}
