div {
  border-style: solid;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-top-width: 0vh;
  // border-right-width: 100vw;
  border-bottom-width: calc(var(--scrollpos) * 1vh);
  // border-left-width: 0;
  border-color: transparent transparent var(--color) transparent;
  z-index: 1; 
}
