@import '../../global/app.scss';

div {
  z-index: 0;
  transition: $scroll;
}

.over {
  transform: translateY(calc(var(--over) * 1vh));
}

.under {
  transform: translateY(calc(var(--under) * 1vh));
}

.on {
  transform: translateY(calc(var(--on) * 1vh));
}