@import '../../global/app.scss';

main {
  position: relative;
  transform: translateY(calc(var(--scrollpos) * 1vh));
  transition: $scroll;
  z-index: 1;
}

.keyboard-open {
  transition: none !important;
}