@import '../../../global/app.scss';

.app-home {
  // position: relative;
  color: $secondary-text-color;

  h2 {
    margin: 1% 0;
    font-size: 5rem;
  }

  h3 {
    margin: 0;
    font-weight: lighter;
  }
}

.home-background {
  position: fixed;
  height: 120vh;
  background-image: url('../../../assets/bg.jpg');
  background-size: cover;
  background-blend-mode: overlay;

  color: $secondary-text-color;
  background-color: #113433eb;
  z-index: -1;
}


