.rotating-tri {
  border-style: solid;
  position: absolute;
  // top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  border-top-width: 0vh;
  border-right-width: 100vw;
  border-bottom-width: 100vh;
  border-left-width: 0vw;
  border-color: transparent transparent #023a38 transparent;
  z-index: -1;

  transform: rotateY(calc(calc(var(--scrollpos) * 200) * 1.8deg));  // scale(calc(calc(var(--scrollpos) * 200) - 100) / 100);
  transform-origin: top left;
  // opacity: calc((var((--scrollpos) - 100) * 200) / 100);
}
