@import '../../../../../global/app.scss';

:host {
  height: 100%;
  border-radius: 5px;
  position: relative;
}

ion-card {
  position: relative;
  height: 80%;
  margin: 0;
  background-color: #033432;
  text-align: start;

  ion-card-title {
    color: #ffc57d; // $main-text-color;
    font-size: 2em;

    @media only screen and (min-width: $small-bp) {
      font-size: 2em;
    }
  }

  ion-card-content {
    color: $main-text-color;
  }

  .img-wrapper {
    height: 100px;
    overflow: hidden;

    @media only screen and (min-width: $small-bp) {
      height: 200px;
    }
  }

  ion-img {
    padding: 1.5%;
  }

  ion-img::part(image){
    //height: 400px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.card-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 1%;
  ion-button {
    margin: 1% 2%;
    --background: #5ca39d;
    --color: #ffffff;
  }
}

