@import '../../../../../global/app.scss';

:host {
  height: 100%;
  border-radius: 5px;
  position: relative;
}

ion-card {
  margin: 0;
  background-color: #033432;
  text-align: start;

  ion-card-title {
    --color: $secondary-text-color;
    font-size: 2em;

    @media only screen and (min-width: $small-bp) {
      font-size: 2em;
    }
  }

  //ion-card-subtitle {
  //  --color: #608D8B; //$color-complement-1;
  //  font-size: 1.5em;
  //}

  ion-card-content {
    color: $main-text-color;
  }

  ion-img {
    padding: 1.5%;
  }

  ion-img::part(image){
    height: 35%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }
}

.card-buttons {
  text-align: center;
  margin: 1%;
  ion-button {
    --background: #5ca39d;
    --color: #ffffff;
  }
}

