@import '../../global/app.scss'; 

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: black;

  display: flex;
  justify-content: space-between;
  
  h1 {
    font-size: 1.3rem;
    padding-left: 3%;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 0.5%;

    li {
      padding: 12px 20px;
      color: $color-complement-1;
      font-family: 'Share';
      font-size: 1.15rem;
      transition: 0.5s;
    }

    li:hover {
      cursor: pointer;
      color: #{$secondary-text-color}cc;
    }
  }

}

.active {
  color: $secondary-text-color;
  text-decoration: underline;
  pointer-events: none; 
}