@import '../../global/app.scss'; 

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  background-color: black;

  ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin: 0 0.5%;

    li {
      padding: 12px 20px;
      color: $color-complement-1;
      font-family: 'Share';
      font-size: 1.15rem;
    }

    li:hover {
      // text-decoration: underline;
      cursor: pointer;
      background-color: #333;
      color: $secondary-text-color;
    }
  }

  .active {
    color: $secondary-text-color;
    text-decoration: underline;
    pointer-events: none; 
  }

  // .tri_nav {
  //   border-top-width: 0vh;
  //   border-right-width: 100vw;
  //   border-bottom-width: calc(var(--scrollpos) * 0.3vh);
  //   border-left-width: 0vw;
  //   border-color: transparent transparent b#000000 transparent;
  // }
}